*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.home{
  height: 100vh;
}
/* TOP NAVIGATION BAR */
.navbar{
    /* padding-top: 20px; */
    /* padding-right: 0px; */
    font-size: medium;
}
.navbar-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 25px;
}
.navbar-nav{
  margin-left: 700px;
}
.navbar-nav li a{
    color:#F6B127;
    font-family: 'Righteous', cursive;
    padding-left: 1000px;

} 
.navbar-nav li a:hover{
    color:#BCDFD1;
    text-decoration: none ;
    cursor: none;
    
}

.deco{
    margin:35px 0px 0px 100px;
}

/* LOGO IMAGE */
#logo{
  /* display: inline-block; */
  margin-left: 50px; 
  margin-top: 5px;
  float: left;
  height: 100px;
  width: 200px;  
}

/* BUTTON AND INFO EDIT */
.forum-info{
  margin-left: 200px;
  margin-top: 50px;
}
.forum-info h2{
  font-size: 20px;
  word-wrap: break-word;
  text-align: center;
  color: #252525;
  font-family: 'Righteous', cursive;
}
.btn{
  margin: 60px 20px 0px 20px;
  border-radius: 40px !important;
  background-color: #9D0208 !important;
  color:white !important;
  height:50px;
  width:150px;
  cursor: none;
  font-family: 'Righteous', cursive;
}
.btn:hover{
  cursor: none;
}
#homepage-img{
  height: 400px;
  width:600px;
}
#contain-homepage-img{
  float: right;
  margin-left: 200px;
  margin-right: 30px;
}
#home{
  display: flex;
}
/* GENRE INFO  */
.genre{
  text-align: center;
  padding-top: 350px;
  color: #252525;
}
 /* CARD STYLING */
 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: 4px 16px; */
  }
  
  #cards-container {
    overflow: hidden;
    margin: 50px 20px 0px 20px ;
  }
  
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 999999px;
  }
  
.card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #252525;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 235px;
    margin: 15px 7.5px;
}
  
.card:hover {
    transform: translateY(-1rem);
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: none;
}
  
.card .img {
    max-width: 220px;
    height: 220px;
    display: inline-block;
}
  
#slide-left-container,
#slide-right-container {
    display: none;
    margin: 50px 20px 0px 20px ;
}
  
#slide-left-container.active,
#slide-right-container.active {
    display: block;
    cursor: none;
    
}
  
.slide-left,
.slide-right {  
    border-color: #fff;
    border-style: solid;
    height: 20px;
    width: 20px;
    
}
  
.slide-left {
    border-width: 4px 0 0 4px;
    border-color: black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 0px;
}
  
.slide-right {
    border-width: 4px 4px 0 0;
    border-color: black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left:0px;
}

/* STYLING FEATURES SECTION */
#features{
  padding: 200px 0px 0px 320px;
  display:flex;
}
#icons{
  padding: 0px 50px 0px 50px;
  float:right;
  width: 600px;
}
#features-info{
  width: 300px;
  color: #252525;
}
.box{
  height: 80px;
  width: 80px;
  border-radius: 5px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin:0px 100px 0px 60px;
}
.far .fas{
  color: black;
  text-align: center;
}
.box p{
  padding-top: 5px;
  width:200px;
  height: 100px;
  text-align: left;
}
.box h3{
  padding-top: 25px;
  text-align: left;
}
#box1{
  background-color: #F8DC87;
}
#box2{
  background-color: #BCDFD1;
}
#box3{
  background-color: #E993A9;
}
#box4{
  background-color: #ECBC9D;
}
.icon-info{
  width: 200px;
}

/* PROFILE CARDS */
.center{
  justify-content: center;
  align-items: center;
}
#about{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100vh;
}
.rect{
  width: 250px;
  height: 250px;
  margin-right: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  flex-direction: column;
  color: black;
  position: relative;
  overflow: hidden;
  background-color: #6BC29B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rect img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.user_name{
  margin-bottom: 5px;
  font-size: 2rem;
}
.skill{
  color: #C5E7D8;
}
/* arrow */
.arr_container, .cancel{
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  bottom: 0;
  right: 0;
  border-radius: 23px 0 23px 0;
  color: rgb(70, 70, 70);
  font-size: 1.6rem;
  cursor: none;
  transition: all .4s;
}
.arr_container i{
  transform: rotate(45deg);
}
.active_arr{
  transform: translate(80%, 80%);
}
.left_container{
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  padding: 40px 0 0 20px;
  transition: all .4s;
}
.off{
  transform: translate(-80%, -80%) rotate(90deg);
}
.active{
  transform: translate(0) rotate(0);
}
.left_container p{
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.left_container .skills div{
  display: inline-block;
  color: rgb(155, 155, 155);
  border: 1px solid rgb(155, 155, 155);
  padding: 5px 10px;
  font-size: .9rem;
  margin: 4px 4px 4px 0;
}
.left_container .social{
  font-size: 1.6rem;
  margin-top: 10px;
}
.left_container .social i{
  color: #cfcfcf;
  cursor: none;
  margin-right: 10px;
  transition: all .4s;
}
.left_container .social i:hover{
  color: #2c5364;
}
.fas{
  padding:10px;
}
/* FOOTER */
footer{
  padding-left: 40px;
}











/* a.deco--raiseUp:hover{
    text-decoration: none;
} */
