*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* body{
    background-image: url(c.jpg);
    background-size: cover;
    height:100vh;
    background-position: center; 
    background-repeat: no-repeat;
}  */

/* html{ 
    background: url(c.jpg) no-repeat 
      center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  } */
/* #image1{
    text-align: right;
}  */
.navbar{
    padding-top: 20px;
    padding-right: 0px;
    font-size: medium;
}
.navbar-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 25px;
    
}
.navbar-nav li a{
    color: #1c264a;
    font-family: 'Righteous', cursive;
} 
.navbar-nav li a:hover{
    color:#71a2c1;
    text-decoration: none ;
    cursor: none;
}

.navbar{
    /* background-color: transparent; */
    padding-left: 800px;
}
.deco{
    margin:35px 0px 0px 100px;
   
}


/* a.deco--raiseUp:hover{
    text-decoration: none;
} */
