body{
     /* background-color: aliceblue;  */
}
section{
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
  
    color:darkslategray;
}
a{
    text-decoration: none;
    color:darkslategray;
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin:0px 50px 50px;
    margin-top:0px;
    text-align: center;
    font-size:50px;
    letter-spacing: 10px;
    font-weight: bolder;
}
span{
    letter-spacing: 3px;
    margin: 0px 0px 0px 30px;
    font-size: 25px;
    word-spacing: 10px;
    font-weight: bold;
}
.cards{
    margin:0 auto;
    max-width: 1000px;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    color:darkslategray;
    font-weight: bold;
    font-size: 25px;
    word-spacing: 10px;
    
}

.card{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    height:420px;
    
}
.entry{
   margin-left: 30px;
   border-radius: 10px;
   height:35px;
   width:300px;
   border-color: crimson;
}
.emailad{
    
    padding: 20px 0px 20px 30px;
}
.user{
    padding: 10px 0px 20px 60px;
}
.passw{
    padding: 20px 0px 20px 60px;
}
.dob{
    padding: 20px 0px 20px 60px;
}
.btn{
    float:right;
    border-radius: 5px;
    background-color: rgb(26, 125, 218);
   height: 40px;
   width:90px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 20px 20px 0px;
    font-size: 20px;

}
footer{
margin: 120px 0px 0px 30px;
text-align: center;

}
footer span{
    padding-right: 200px;
    padding-left:100px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 20px;

    
}
