body {
    font-family: sans-serif;
    font-weight: 200;
  }
body, body * {
    cursor: none;
  }
  
  .shapes {
    position: relative;
    height: 300px;
    width: 100vw;
    background:#9D0208 ;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
  }
  .shape.shape-1 {
    background: #DF496C;
    width: 600px;
    height: 600px;
    margin: -325px 0 0 -325px;
  }
  .shape.shape-2 {
    background: #FAD461;
    width: 400px;
    height: 400px;
    margin: -220px 0 0 -220px;
  }
  /*.shape.shape-3 {
    background: #d1b9ff;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
  }*/
  
  .content {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    height: 500px;
    background: #fff;
    width: 100vw;
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 200px;
    margin-left: 60px;
    height: 80px;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
  }
  @media (min-width: 419px) {
    h1 {
      font-size: 80px;
      /* font-size: calc((0.0989119683 * 100vw + (58.5558852621px))); */
    }
  }
  @media (min-width: 1430px) {
    h1 {
      font-size: 80px;
    }
  }
  
  .cursor {
    position: fixed;
    background: #9D0208;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #9D0208;
  }
  
  ::selection {
    color: #fff;
    background: #9D0208;
  }